@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

body {
  background-color: #090909;
  display: flex;
  justify-content: center;
  align-content: center;
}

div#excalibur-play-root {
  left: 50% !important;
  top: 0 !important;
  transform:translate(-50%, min(40vw, 70vh));
}

button#excalibur-play {
  background-color: #ffb81c !important;
  position: relative !important;
  color: #003494 !important;
}
button#excalibur-play:after {
  border-color: transparent transparent transparent #003494 !important;
}